<html>
<head>
<script type="text/javascript">
function delayedRedirect(){
    window.location = "/guests/success"
}
</script>
</head>
<body onLoad="setTimeout('delayedRedirect()', 60000)">
<h2>You'll be redirected in 60 seconds after the database is updated</h2>
</body>
</html>